
.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    width: fit-content;
    margin-bottom: 5px;
    height: 1.3rem;
    border-radius: 5px;
}

input.invalid {
    border: solid red 2px;
}

input.valid {
    border: solid green 2px;
}

.s_invalid {
    font-size: small;
    width: 10rem;
    padding: 8px 15px;
    border-radius: 8px;
    color: snow;
    background-color: rgb(209, 61, 61);
}

#submit-Btn {
    margin-top: 10px;
    width: fit-content;
    margin-left: 3rem;
}

